{% extends "layout.html"%}
{% block content %}
    <div class="content-section">
        <form method="POST" action="" enctype="multipart/form-data">
            <fieldset class="form-group">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01">Resolution</label>
                    </div>
                    {% if form.resolution.errors %}
                        {{ form.resolution(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.resolution.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.resolution(class="custom-select",class="inputGroupSelect01") }}
                    {% endif %}
                </div>
                <!-- <div class="mb-3 mt-3">
                    {% if form.crack_image.errors %}
                        {{ form.crack_image(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.crack_image.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{form.crack_image(class="form-control-file")}}
                    {% endif %}
                </div> -->
                {{ form.submit(class="btn btn-secondary btn-sm")}} 
            </fieldset>
        </form>
    </div>
{% endblock content%}