{% extends "layout.html"%}
{% block content %}
    <div class="content-section">
        <form method="POST" action="">
            <div class="mb-8">
                <div class="row mb-2">
                    <div class="col">
                        <div class="caption h5 text-center">True</div>
                    </div>
                    <div class="col">
                        <div class="caption h5 text-center">Prediction</div>
                    </div>
                </div>
                {% for field in form.result_list %}
                    <div class="row mb-3">
                        <div class="col">
                            <div class="crack-img-div" style="width:100%">
                                <img src="{{ field.crack_image.data }} " style="width:100%">
                            </div>
                        </div>
                        <div class="col">
                            <div class="pred-img-div" style="width:100%">
                                <img src="{{ field.pred_image.data }} " style="width:100%">
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="mt-10">
                <a href="{{ url_for('detection.download') }}">Download</a>
            </div>
        </form>
    </div>
{% endblock content %}